<%- include('../partials/header') %>

 <center>   <h1>All Flights</h1> </center>
 <div class="container">
<table class ="table">
    <thead>
        <center>
        <tr> 
            <th><strong>Airline:</strong><br></th>
            <th><strong>Airport:</strong><br></th>
            <th><strong>Flight Number:</strong><br></th>
            <th><strong>Departure:</strong><br></th>
            
            
        </tr>
        </center>
    </thead>
    <tbody> 
        <% flights.forEach(function(flight) { %>
            <tr>
                <td><%= flight.airline %></td>
                <td><%= flight.airport %></td> 
                <td><%= flight.flightNo %></td> 
                <td><%= flight.departs.toLocaleString('en-US', {
                    month: 'long', 
                    day: 'numeric', 
                    year: 'numeric'
                }) %></td> 
                <td><a href="/flights/<%= flight.id %>">DETAILS</a></td>
            </tr>
        <% }) %>
        
    </tbody>
</table>
</div>
<%- include('../partials/footer') %>