<%- include('../partials/header') %>

<section>
 <center><h1>Flight Details</h1></center>
 <div><strong>Flight Number:</strong> <%= flight.flightNo %> </div>
 <div><strong>Airport:</strong> <%= flight.airport %> </div>
 <div><strong>Airline:</strong> <%= flight.airline %> </div>
 <div><strong>Departure:</strong> <%= flight.departs %> </div>
</section>

<%- include('../partials/footer') %>